<!doctype html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>canell / watkins / INFRA</title>
  <meta name="description" content="Page description." />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@pwr_studio">
  <meta name="twitter:title" content="serf.club:{{id}}">
  <meta name="twitter:description" content="Page description less than 200 characters">
  <meta name="twitter:creator" content="@pwr_studio">
  <meta name="twitter:image" content="http://serf.club{{url}}">

  <meta property="og:title" content="serf.club:{{id}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://serf.club/{{id}}" />
  <meta property="og:image" content="http://serf.club{{url}}" />
  <meta property="og:description" content="Description Here" />
  <meta property="og:site_name" content="serf.club" />

  <link href="./libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./libs/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="./libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="./dist/css/main.css">

</head>

<body>

  <div class="container-fluid">

    {{{body}}}

  </div>

  <script src="./libs/handlebars/handlebars.min.js"></script>
  <script src="./libs/jquery/dist/jquery.min.js"></script>
  <script src="./libs/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./libs/remarkable-bootstrap-notify/bootstrap-notify.min.js"></script>
  <script src="./libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="./src/js/canellwatkins-back.js"></script>

</body>

</html>