<!doctype html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>canell / watkins</title>
  <meta name="description" content="Page description." />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@pwr_studio">
  <meta name="twitter:title" content="serf.club:{{id}}">
  <meta name="twitter:description" content="Page description less than 200 characters">
  <meta name="twitter:creator" content="@pwr_studio">
  <meta name="twitter:image" content="http://serf.club{{url}}">

  <meta property="og:title" content="serf.club:{{id}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://serf.club/{{id}}" />
  <meta property="og:image" content="http://serf.club{{url}}" />
  <meta property="og:description" content="Description Here" />
  <meta property="og:site_name" content="serf.club" />

  <link href="./libs/dropzone/dist/dropzone.css" rel="stylesheet">
  <link href="./libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./libs/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="./fonts/whois/stylesheet.css">
  <!--  <link rel="stylesheet" href="./dist/css/main.min.css">-->
  <link rel="stylesheet" href="./src/scss/main.css">

</head>

<body>

<!--
  <a id="login" class="btn btn-default btn-sm" data-toggle="collapse" href="#loginContainer" aria-expanded="false" aria-controls="loginContainer">login</a>
  <div class="collapse" id="loginContainer">
    <div class="well">
      <h1><span class="fa fa-sign-in"></span> Login</h1>

<form action="/login" method="post">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
      </form>
    </div>
  </div>

  <div id="user" class="admin">
    <a id="loggedInUser" class="btn btn-default btn-sm" data-toggle="collapse" href="#profileContainer" aria-expanded="false" aria-controls="loginContainer">login</a>
    <div class="collapse" id="profileContainer">
      <div class="well">
        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
      </div>
    </div>
  </div>
-->

  {{{body}}}

  <script src="./libs/dropzone/dist/dropzone.js"></script>
  <script src="./libs/handlebars/handlebars.min.js"></script>
  <script src="./libs/jquery/dist/jquery.min.js"></script>
  <script src="./libs/jqueryui/jquery-ui.min.js"></script>
  <script src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./src/js/canellwatkins.js"></script>
  
</body>

</html>