<!doctype html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>canell / watkins</title>
  <meta name="description" content="Page description." />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@pwr_studio">
  <meta name="twitter:title" content="serf.club:{{id}}">
  <meta name="twitter:description" content="Page description less than 200 characters">
  <meta name="twitter:creator" content="@pwr_studio">
  <meta name="twitter:image" content="http://serf.club{{url}}">

  <meta property="og:title" content="serf.club:{{id}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://serf.club/{{id}}" />
  <meta property="og:image" content="http://serf.club{{url}}" />
  <meta property="og:description" content="Description Here" />
  <meta property="og:site_name" content="serf.club" />

  <link rel="stylesheet" href="http://ec2-52-5-9-41.compute-1.amazonaws.com/dist/css/main.css">

</head>

<body>

  <div id="overlay"></div>


  {{{body}}}


  <script src="./libs/handlebars/handlebars.min.js"></script>
  <script src="http://ec2-52-5-9-41.compute-1.amazonaws.com/socket.io/socket.io.js"></script>
  <script src="./libs/jquery/dist/jquery.min.js"></script>
  <script src="./dist/js/handlebars/templates.js"></script>
  <script src="./src/js/canellwatkins-front.js"></script>

</body>

</html>