  {{#each cables}}
<article class='ping_container'>
    <div class="title">{{this.cable_id}}</div>
    <div class="title">{{this.name}}</div>
    <div class="title">{{this.length}}</div>
    {{#each this.description}}
      <div>∿∿∿∿∿∿∿</div>
      <div>&#x1f30a;&#x1f30a;&#x1f30a;</div>
      <div class="title">{{this.name}}</div>
      <div class="title">{{this.loc.coordinates}}</div>
      <div class="title"><a href="http://geohash.org/{{this.geohash}}">{{this.geohash}}</a></div>
  {{/each}}
    <div class="title">{{this.owners}}</div>
  </article>
<br><hr><br>
  {{/each}}
