<div class="container-fluid">

  <audio class="player" id="startUpSound">
    <source src="sweep.mp3">
  </audio>

  <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
    <article class="exhibition">
      <div class="title ">N. Canell
        <br> R. Watkins </div>
      <a href="mailto:info@canellwatkins.org" class="title ">info@canellwatkins.org</a>
    </article>
    <div class="space">*</div>
    <div class="title">{{distance}} km from server to client</div>
    <div class='space'>*</div>
    <div class="title ">Route</div>
    <div class='space'>*</div>
    <div id="trace-container"></div>
  </div>

  <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
    <article class="exhibition">
      <div class="title">Exhibitions</div>
    </article>
    {{#each container}} {{#if this.location}} {{{space}}} {{#if this.link}}<a href="{{this.link}}">{{/if}}
  <article class="exhibition light ">
    <div class="title">{{this.title}}</div>
    <div class="date">{{this.start_date_pretty}} — {{this.end_date_pretty}}</div>
    <div class="location">{{this.location}}</div>
  </article>
  {{#if this.link}}</a>{{/if}} {{/if}} {{/each}} {{{space}}}
  </div>

  <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
    <article class="exhibition">
      <div class="title ">Publications</div>
    </article>
    {{#each container}} {{#if this.publisher}} {{{space}}}
    <article class="exhibition light ">
      <div class="title">{{this.title}}</div>
      <div class="date">{{this.start_date_pretty}}</div>
      <div class="publisher">{{this.publisher}}</div>
    </article>
    {{/if}} {{/each}} {{{space}}}
  </div>

  <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
    <article class="exhibition">
      <div class="title ">Images</div>
    </article>
    {{#each content}} {{#if this.public }} {{#if this.image.large}} {{{space}}}
    <article class="exhibition light ">
      <a href="{{this.image.thumb}}" data-large="{{this.image.large}}" class="image-link">
        <div class="title">{{this.title}}</div>
        <div class="title">{{this.image.size}}kb</div>
      </a>
      <div class="thumb-container">
        <img src="{{this.image.thumb}}" data-large="{{this.image.large}}" class="thumbnail lightBox">
      </div>
    </article>
    {{/if}} {{/if}} {{/each}} {{{space}}}
  </div>

  <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
    <article class="exhibition">
      <div class="title ">Texts</div>
    </article>
    {{#each content}} {{#if this.public }} {{#if this.text.author}} {{{space}}}

    <a href="{{this.text.title}}">
      <article class="exhibition light ">
        <div class="title">{{this.title}}</div>
        <div class="date">{{this.text.author}}</div>
      </article>
    </a>
    {{/if}} {{/if}} {{/each}} {{{space}}}

  </div>
</div>