<div id='overlay'></div>

{{#if frontpage.image}}

  <div id='counterOverlay' style='background-image: url({{frontpage.image}}), url({{frontpage.pinky}});'>
    <div id='tracestart-container' class='strong'></div>
  </div>

{{/if}} 

{{#if frontpage.audio}}

  <div id='counterOverlay' class='audio'>
    <div id='tracestart-container' class='strong'></div>
    <audio id='frontpageAudio' autoplay loop src='{{frontpage.audio}}'></audio>
  </div>

{{/if}} 

{{#if frontpage.video}}

  <div id='counterOverlay' class='audio'>
    <div id='tracestart-container' class='strong'></div>
    <video  id='frontpageVideo' autoplay loop src="{{frontpage.video}}"></video>
  </div>

{{/if}} 

<div class='container-fluid'>
  
    {{!-- ***** MENU ***** --}}
    {{!-- ***** MENU ***** --}}
    {{!-- ***** MENU ***** --}}
    {{!-- ***** MENU ***** --}}

  <div class='menu-bar'>

      <div class='col-md-5ths col-sm-5ths col-xs-5ths hidden-xs content-columns menu-col mobile-40'>
        <a class='title strong up'>Cable length: <span id='cable-length'></span> km</a>
      </div>      

      <div class='col-md-5ths col-sm-5ths col-xs-5ths content-columns menu-col mobile-60'>
        <a class='title strong up'>Nina Canell / Robin Watkins </a>
      </div>

      <div class='col-md-5ths col-sm-5ths col-xs-5ths content-columns menu-col mobile-hide'>
        <a class='title strong up'>Exhibitions</a>
      </div>

      <div class='col-md-5ths col-sm-5ths col-xs-5ths content-columns menu-col mobile-hide'>
        <a class='title strong up'>Texts</a>
      </div>

      <div class='col-md-5ths col-sm-5ths col-xs-5ths content-columns menu-col mobile-hide'>
        <a class='title strong up'>Works</a>
      </div>

    </div>


    {{!-- ***** COL1: ROUTE ***** --}}
    {{!-- ***** COL1: ROUTE ***** --}}
    {{!-- ***** COL1: ROUTE ***** --}}
    {{!-- ***** COL1: ROUTE ***** --}}
    {{!-- ***** COL1: ROUTE ***** --}}

    <div class='col-md-5ths col-sm-5ths col-xs-5ths content-columns mobile-40'>
        <div class='space'>*</div>
        <div class='title'>Signal roundtrip: <span id='round-trip'>32</span> ms</div>
        <div class='space'>*</div>
        <div class='title'>Route:</div>
        <div class='space'>*</div>
        <div id='trace-container'></div>
        <article class='ping_container'>
            <div>85.214.100.3</div>
            <div>canellwatkins.org</div>
            <div>Berlin, Germany</div>
            <div><a href='http://geohash.org/u33dbbmefwkn'>u33dbbmefwkn</a></div>
        </article>
        <div class='space'>*</div>
    </div>

    {{!-- ***** COL2: META ***** --}}
    {{!-- ***** COL2: META ***** --}}
    {{!-- ***** COL2: META ***** --}}
    {{!-- ***** COL2: META ***** --}}
    {{!-- ***** COL2: META ***** --}}

    <div class='col-md-5ths col-sm-5ths col-xs-5ths content-columns mobile-60'>
        <div class='space'>*</div>
        <div>
            <a href='mailto:info@canellwatkins.org'>info@canellwatkins.org</a>
        </div>
        <div class='space'>*</div>
    </div>

    {{!-- ***** COL2: EXHIBITIONS ***** --}}
    {{!-- ***** COL2: EXHIBITIONS ***** --}}
    {{!-- ***** COL2: EXHIBITIONS ***** --}}
    {{!-- ***** COL2: EXHIBITIONS ***** --}}
    {{!-- ***** COL2: EXHIBITIONS ***** --}}

    <div class='col-md-5ths col-sm-5ths col-xs-5ths content-columns mobile-60'>
      
        <div class='mobile-title strong up'>Exhibitions</div>
      
        {{#each exhibitions}} 
        
            <div class='space'>*</div> 

            {{#if this.link}}
                <a href='{{this.link}}' target=_blank>
            {{/if}}

            <article class='exhibition light'>
                <div class='title'>{{{this.title}}}</div>
                <div class='date'>{{this.start_date_pretty}} — {{this.end_date_pretty}}</div>
                <div class='location'>{{this.location}}</div>
                <div class='exhibition-type'>
                  {{#if this.group}}
                    <span class='group-icon external'>Group</span>
                  {{/if}}
                  {{#if this.solo}}
                  <span class='solo-icon external'>Solo</span>
                  {{/if}}
                </div>
            </article>

            {{#if this.link}}
                </a>
            {{/if}}

        {{/each}}
        
        <div class='space'>*</div>
    
    </div>
    
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}

    <div class='col-md-5ths col-sm-5ths col-xs-5ths content-columns mobile-60'>
      
        <div class='mobile-title strong up'>Texts</div>
      
        {{#each publications}} 
      
          {{!-- ***** PUBLICATION ***** --}}
          {{!-- ***** PUBLICATION ***** --}}
          {{!-- ***** PUBLICATION ***** --}}
          {{!-- ***** PUBLICATION ***** --}}
      
            <div class='space'>*</div>
            <a href='' class='slide-down-link'>
                <article class='exhibition light '>
                    <div class='title'>{{{this.title}}}</div>
                    <div class='year publication'>{{this.start_date_pretty}}</div>
                </article>
            </a>
            <div class='thumb-container static'>
              
              <div class='space'>¬</div>
          
              {{#if this.image.size}}
                <div class="link-container">
                <a href=''
                    class='image-link' 
                    data-large='{{this.image.large}}'
                    data-pinky='{{this.image.pinkynail}}'
                    data-caption='{{{this.title}}}<br>{{{this.publisher}}}<br>{{this.start_date_pretty}}<br>{{this.specs}}'>Image ({{this.image.size}}kb)</a>
                </div>
              {{/if}}

              {{#if this.text.size}}
                <div class="link-container">
                <a href='{{this.text.url}}' 
                    class='text-link' 
                    data-caption='{{{this.title}}}<br>{{{this.publisher}}}<br>{{this.start_date_pretty}}<br>{{this.specs}}'>Text file ({{this.text.size}}kb)</a>
                </div>
              {{/if}}

              {{#if this.sound.size}}
              <div class='audio-control play'>
                  <i class='fa fa-play play-icon'></i>
                  <i class='fa fa-stop stop-icon'></i> {{this.sound.size}} kb
                </div>
                <audio>
                  <source src='{{this.sound.url}}'>
                </audio>
                <p>{{{this.sound.caption}}}</p>
              {{/if}}
                
            </div> 
              
        {{/each}}
        
        <div class='space'>*</div>
    
    </div>

    {{!-- ***** COL4: WORKS ***** --}}
    {{!-- ***** COL4: WORKS ***** --}}
    {{!-- ***** COL4: WORKS ***** --}}
    {{!-- ***** COL4: WORKS ***** --}}
    {{!-- ***** COL4: WORKS ***** --}}

    <div class='col-md-5ths col-sm-5ths col-xs-5ths content-columns mobile-60'>
      
      <div class='mobile-title strong up'>Works</div>
      
      {{#each content}} 
        {{#if this.public }} 

            {{!-- ***** IMAGE ***** --}}
            {{!-- ***** IMAGE ***** --}}
            {{!-- ***** IMAGE ***** --}}
            {{!-- ***** IMAGE ***** --}}      
            {{#if this.image.large}}
              <div class='space'>*</div>
              <a href='' class='image-link hidden'
                 data-large='{{this.image.large}}'
                 data-pinky='{{this.image.pinky}}'
                 data-caption='{{this.image.caption}}'>
                  <article class='exhibition light'>
                      <div class='title'>{{{this.title}}}</div>
                      <div class='size image'>{{this.image.size}}kb</div>
                  </article>
              </a>
            {{/if}} 

            {{!-- ***** AUDIO ***** --}}
            {{!-- ***** AUDIO ***** --}}
            {{!-- ***** AUDIO ***** --}}
            {{!-- ***** AUDIO ***** --}}
            {{#if this.audio.size}}
            <div class='space'>*</div>
              <a href='' class='slide-down-link'>
                <article class='exhibition light'>
                    <div class='title'>{{{this.title}}}</div>
                    <div class='size audio'>{{this.audio.size}}kb</div>
                </article>
              </a>
            <div class='thumb-container static'>
              
              <div class='space'>¬</div>
              
              <div class='audio-control play'>
                <i class='fa fa-play play-icon'></i>
                <i class='fa fa-stop stop-icon'></i> {{this.audio.size}} kb
              </div>
              <audio>
                <source src='{{this.audio.url}}'>
              </audio>
              <p class='audio-caption'>{{this.audio.caption}}</p>
            </div>        
            {{/if}}                  

            {{!-- ***** VIDEO ***** --}}
            {{!-- ***** VIDEO ***** --}}
            {{!-- ***** VIDEO ***** --}}
            {{!-- ***** VIDEO ***** --}}
            {{#if this.video.size}}
            <div class='space'>*</div>
              <a href='{{this.video.url}}' class='video-link' data-caption='{{this.video.caption}}'>
                <article class='exhibition light'>
                    <div class='title'>{{{this.title}}}</div>
                    <div class='size video'>{{this.video.size}}kb</div>
                </article>
              </a>
            {{/if}}    

          {{/if}} 

        {{/each}}
        
        <div class='space'>*</div>
        
    </div>

</div>

<script src='//code.jquery.com/jquery-1.11.3.min.js'></script>
<script src='./libs/handlebars/handlebars.runtime.min.js'></script>
<script src='socket.io/socket.io.js'></script>
<script src='./dist/js/handlebars/templates.js'></script>
<script src='./dist/js/canellwatkins-front.min.js'></script>
