<div id="overlay"></div>

<div id="counterOverlay" style="background-image: url({{frontpage.full}}), url({{frontpage.pinky}});">
  <div id="tracestart-container" class="strong"></div>
</div>

<div class="container-fluid">
  
    {{!-- ***** MENU ***** --}}
    {{!-- ***** MENU ***** --}}
    {{!-- ***** MENU ***** --}}
    {{!-- ***** MENU ***** --}}

    <div class="menu-bar">

      <div class="col-md-5ths col-sm-5ths col-xs-5ths hidden-xs content-columns menu-col">
        <a class="title strong">Cable length: <span id="cable-length"></span> km</a>
      </div>

      <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns menu-col">
        <a class="title strong">Nina Canell / Robin Watkins </a>
      </div>

      <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns menu-col">
        <a class="title strong">Exhibitions</a>
      </div>

      <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns menu-col">
        <a class="title strong">Texts</a>
      </div>

      <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns menu-col">
        <a class="title strong">Works</a>
      </div>

    </div>


    {{!-- ***** COL1: ROUTE ***** --}}
    {{!-- ***** COL1: ROUTE ***** --}}
    {{!-- ***** COL1: ROUTE ***** --}}
    {{!-- ***** COL1: ROUTE ***** --}}
    {{!-- ***** COL1: ROUTE ***** --}}

    <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
        <div class='space'>*</div>
        <div class="title ">Route:</div>
        <div class='space'>*</div>
        <div id="trace-container"></div>
        <article class='ping_container'>
            <div>85.214.100.3</div>
            <div>canellwatkins.org</div>
            <div>Berlin, Germany</div>
            <div><a href="http://geohash.org/u33dbbmefwkn">u33dbbmefwkn</a></div>
        </article>
        <div class='space'>*</div>
    </div>

    {{!-- ***** COL2: META ***** --}}
    {{!-- ***** COL2: META ***** --}}
    {{!-- ***** COL2: META ***** --}}
    {{!-- ***** COL2: META ***** --}}
    {{!-- ***** COL2: META ***** --}}

    <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
        <div class='space'>*</div>
        <div>
            <a href="mailto:info@canellwatkins.org">info@canellwatkins.org</a>
        </div>
        <div class='space'>*</div>
    </div>

    {{!-- ***** COL2: EXHIBITIONS ***** --}}
    {{!-- ***** COL2: EXHIBITIONS ***** --}}
    {{!-- ***** COL2: EXHIBITIONS ***** --}}
    {{!-- ***** COL2: EXHIBITIONS ***** --}}
    {{!-- ***** COL2: EXHIBITIONS ***** --}}

    <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
        {{#each container}} 
        
            {{#if this.location}}

            <div class='space'>*</div> 

                {{#if this.link}}
                    <a href="{{this.link}}" target=_blank>
                {{/if}}

                <article class="exhibition light">
                    <div class="title">{{this.title}}</div>
                    <div class="date">{{this.start_date_pretty}} — {{this.end_date_pretty}}</div>
                    <div class="location">{{this.location}}</div>
                    <div class="exhibition-type">
                      {{#if this.group}}
                        <span class="group-icon external">Group</span>
                      {{/if}}
                      {{#if this.solo}}
                      <span class="solo-icon external">Solo</span>
                      {{/if}}
                    </div>
                </article>

                {{#if this.link}}
                    </a>
                {{/if}}

            {{/if}} 
        {{/each}}
        
        <div class='space'>*</div>
    
    </div>
    
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}
    {{!-- ***** COL3: TEXTS / PUBLICATIONS ***** --}}

    <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
        {{#each container}} 
      
          {{!-- ***** PUBLICATION ***** --}}
          {{!-- ***** PUBLICATION ***** --}}
          {{!-- ***** PUBLICATION ***** --}}
          {{!-- ***** PUBLICATION ***** --}}
      
          {{#if this.publisher}}
            <div class='space'>*</div>
            <a href="" class="slide-down-link">
                <article class="exhibition light ">
                    <div class="title">{{this.title}}</div>
                    <div class="author">{{this.author}}</div>
                    <div class="publisher">{{this.publisher}}</div>
                </article>
            </a>

            <div class="thumb-container static">

                {{#if this.sound.size}}
                    <div class="audio-control play">
                      <i class="fa fa-play play-icon"></i>
                      <i class="fa fa-stop stop-icon"></i> {{this.sound.size}} kb
                    </div>
                    <audio loop>
                        <source src="{{this.sound.url}}">
                    </audio>
                {{/if}}

                {{#if this.image.thumb}}
                    <img src="{{this.image.thumb}}"
                         data-large="{{this.image.large}}"
                         data-pinky="{{this.image.pinkynail}}"
                         class="thumbnail lightBox"> 
                {{/if}} 

                {{#if this.link}}
                    <div class='link-container'>
                        <a href="{{this.link}}"> >> External link << </a>
                    </div>
                {{/if}}

            </div>
        
            {{/if}} 
      
            {{!-- ***** TEXT ***** --}}
            {{!-- ***** TEXT ***** --}}
            {{!-- ***** TEXT ***** --}}
            {{!-- ***** TEXT ***** --}}

            {{#if this.text.author}}
                
              <div class='space'>*</div>

              {{#if this.text.file}}
                  <a href="{{this.text.file}}">
                      <article class="exhibition light">
                          <div class="title">{{this.title}}</div>
                          <div class="author">{{this.text.author}}</div>
                      </article>
                  </a>
              {{/if}} 

              {{#if this.text.link}}
                  <a href="{{this.text.link}}" target=_blank>
                      <article class="exhibition light">
                          <div class="title">{{this.title}}</div>
                          <div class="author external">{{this.text.author}}</div>
                      </article>
                  </a>
              {{/if}}
        
            {{/if}}
        
        {{/each}}
        
        <div class='space'>*</div>
    
    </div>

    {{!-- ***** COL4: WORKS ***** --}}
    {{!-- ***** COL4: WORKS ***** --}}
    {{!-- ***** COL4: WORKS ***** --}}
    {{!-- ***** COL4: WORKS ***** --}}
    {{!-- ***** COL4: WORKS ***** --}}

    <div class="col-md-5ths col-sm-5ths col-xs-5ths content-columns">
      {{#each content}} 
        {{#if this.public }} 

            {{!-- ***** IMAGE ***** --}}
            {{!-- ***** IMAGE ***** --}}
            {{!-- ***** IMAGE ***** --}}
            {{!-- ***** IMAGE ***** --}}      
            {{#if this.image.large}}
              <div class='space'>*</div>
              <a href="" class="image-link hidden"
                 data-large="{{this.image.large}}"
                 data-pinky="{{this.image.pinky}}"
                 data-caption="{{{this.image.caption}}}">
                  <article class="exhibition light">
                      <div class="title">{{this.title}}</div>
                      <div class="size image">{{this.image.size}}kb</div>
                  </article>
              </a>
            {{/if}} 

            {{!-- ***** AUDIO ***** --}}
            {{!-- ***** AUDIO ***** --}}
            {{!-- ***** AUDIO ***** --}}
            {{!-- ***** AUDIO ***** --}}
            {{#if this.audio.size}}
            <div class='space'>*</div>
              <a href="" class="slide-down-link">
                <article class="exhibition light">
                    <div class="title">{{this.title}}</div>
                    <div class="size audio">{{this.audio.size}}kb</div>
                </article>
              </a>
            <div class="thumb-container static">
              <div class="audio-control play">
                <i class="fa fa-play play-icon"></i>
                <i class="fa fa-stop stop-icon"></i> {{this.audio.size}} kb
              </div>
              <audio loop>
                <source src="{{this.audio.url}}">
              </audio>
              <p>{{this.audio.caption}}</p>
            </div>        
            {{/if}}                  

            {{!-- ***** VIDEO ***** --}}
            {{!-- ***** VIDEO ***** --}}
            {{!-- ***** VIDEO ***** --}}
            {{!-- ***** VIDEO ***** --}}
            {{#if this.video.size}}
            <div class='space'>*</div>
              <a href="{{this.video.url}}" class="video-link" data-caption="{{this.video.caption}}">
                <article class="exhibition light">
                    <div class="title">{{this.title}}</div>
                    <div class="size video">{{this.video.size}}kb</div>
                </article>
              </a>
            {{/if}}    

          {{/if}} 

        {{/each}}
        
        <div class='space'>*</div>
        
    </div>

</div>

<script src="./libs/handlebars/handlebars.runtime.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="./libs/jquery/dist/jquery.min.js"></script>
<script src="./dist/js/handlebars/templates.js"></script>
<script src="./dist/js/canellwatkins-front.min.js"></script>
