<div id="overlay"></div>
<div id="counterOverlay">
  <div id="tracestart-container">
  </div>
</div>
<div id="startUpOverlay" class="here"></div>

<div class="container-fluid">

  {{!-- ***** COL1: META and ROUTE ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <div class="title" id="distance" data-distance="{{distance}}">{{distance}} km from client to server</div>
    <div class='space'>*</div>
    <div class="title" id="distance" data-distance="{{distance}}">Roundtrip time: <span id="roundtrip"></span>
    </div>
    <div class='space'>*</div>
    <div class="title ">Cable Route:</div>
    <div id="trace-container"></div>
  </div>

  {{!-- ***** COL5: TEXT ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <article class="exhibition">
      <div class="title ">Nina Canell
        <br> Robin Watkins </div>
      <a href="mailto:{{meta.email}}" class="title ">
        <div>{{meta.email}}</div>
      </a>
    </article>
    {{{space}}}
  </div>


  {{!-- ***** COL2: EXHIBITIONS ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <article class="exhibition">
      <div class="title">Exhibitions</div>
    </article>
    {{#each container}} {{#if this.location}} {{{space}}} {{#if this.link}}<a href="{{this.link}}" target=_blank>{{/if}}
  <article class="exhibition light ">
    <div class="title">{{this.title}}</div>
    <div class="date">{{this.start_date_pretty}} — {{this.end_date_pretty}}</div>
    <div class="location">{{this.location}}</div>
  </article>
  {{#if this.link}}</a>{{/if}} {{/if}} {{/each}} {{{space}}}
  </div>

  {{!-- ***** COL3: PUBLICATIONS ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <article class="exhibition">
      <div class="title ">Publications</div>
    </article>
    {{#each container}} {{#if this.publisher}} {{{space}}}
    {{#if this.image.thumb}}
      <a href="{{this.image.thumb}}" data-large="{{this.image.large}}" class="image-link">
        <article class="exhibition light ">
          <div class="title">{{this.title}}</div>
          <div class="date">{{this.start_date_pretty}}</div>
          <div class="publisher">{{this.publisher}}</div>
        </article>
      </a>
    {{else}} 
      {{#if this.sound.url}}
          <a href="{{this.image.thumb}}" data-large="{{this.image.large}}" class="image-link">
          <article class="exhibition light ">
            <div class="title">{{this.title}}</div>
            <div class="date">{{this.start_date_pretty}}</div>
            <div class="publisher">{{this.publisher}}</div>
          </article>
        </a>
      {{else}}
        <article class="exhibition light ">
          <div class="title">{{this.title}}</div>
          <div class="date">{{this.start_date_pretty}}</div>
          <div class="publisher">{{this.publisher}}</div>
        </article>
      {{/if}}
    {{/if}}
    
    {{#if this.sound.url}}
      <div class="thumb-container">
        <div class="audio-play">▶</div>
        <audio>
          <source src="{{this.sound.url}}">
        </audio>
      </div>
    {{/if}}     
    
    {{#if this.image.thumb}}
      <div class="thumb-container">
        <img src="{{this.image.thumb}}" data-large="{{this.image.large}}" class="thumbnail lightBox">
      </div>
    {{/if}} 
    
    {{/if}} {{/each}} {{{space}}}
  </div>

  {{!-- ***** COL4: IMAGES ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <article class="exhibition">
      <div class="title ">Images / Text</div>
    </article>
    {{#each content}} {{#if this.public }} {{#if this.image.large}} {{{space}}}
    <article class="exhibition light ">
      <a class="image-link">
        <div class="title">{{this.title}}</div>
        <div class="title">{{this.image.size}}kb</div>
      </a>
      <div class="thumb-container">
        <img src="{{this.image.thumb}}" data-large="{{this.image.large}}" class="thumbnail lightBox">
      </div>
    </article>
    {{/if}} {{#if this.text.author}} {{{space}}}

    <a href="{{this.text.title}}">
      <article class="exhibition light ">
        <div class="title">{{this.title}}</div>
        <div class="date">{{this.text.author}}</div>
      </article>
    </a>
    {{/if}} {{/if}} {{/each}} {{{space}}}
  </div>


</div>