<div id="overlay"></div>
<div id="counterOverlay" style="background-image: url(data/1440975637634/A0054.JPG), url(data/1440975637634/thumbnail-A0054.JPG), url(data/test/pinkynail-A0054.jpg);">
  <div id="tracestart-container">
  </div>
</div>

<div class="container-fluid">

  {{!-- ***** COL1: META and ROUTE ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <div class="title" id="distance" data-distance="{{distance}}">Approx. Cable length: <span id="cable-length"></span> km</div>
    <div class='space'>*</div>
    <div class="title ">Route:</div>
    <div id="trace-container"></div>
  </div>

  {{!-- ***** COL5: TEXT ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <article class="exhibition">
      <div class="title ">Nina Canell
        <br> Robin Watkins </div>
      <a href="mailto:{{meta.email}}" class="title ">
        <div>{{meta.email}}</div>
      </a>
    </article>
    {{{space}}}
  </div>


  {{!-- ***** COL2: EXHIBITIONS ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <article class="exhibition">
      <div class="title">Exhibitions</div>
    </article>
    {{#each container}} {{#if this.location}} {{{space}}} {{#if this.link}}
    <a href="{{this.link}}" target=_blank>{{/if}}
  <article class="exhibition light">
    <div class="title">{{this.title}}</div>
    <div class="date">{{this.start_date_pretty}} — {{this.end_date_pretty}}</div>
    <div class="location">{{this.location}}</div>
  </article>
  {{#if this.link}}</a>{{/if}} {{/if}} {{/each}} {{{space}}}
  </div>

  {{!-- ***** COL3: PUBLICATIONS ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <article class="exhibition">
      <div class="title ">Publications</div>
    </article>
    {{#each container}} {{#if this.publisher}} {{{space}}} {{#if this.image.thumb}}
    <a href="{{this.image.thumb}}" data-large="{{this.image.large}}" class="image-link">
      <article class="exhibition light ">
        <div class="title">{{this.title}}</div>
        <div class="date">{{this.start_date_pretty}}</div>
        <div class="publisher">{{this.publisher}}</div>
      </article>
    </a>
    {{else}} {{#if this.sound.url}}
    <a href="{{this.image.thumb}}" data-large="{{this.image.large}}" class="image-link">
      <article class="exhibition light ">
        <div class="title">{{this.title}}</div>
        <div class="date">{{this.start_date_pretty}}</div>
        <div class="publisher">{{this.publisher}}</div>
      </article>
    </a>
    {{else}}
    <article class="exhibition light ">
      <div class="title">{{this.title}}</div>
      <div class="date">{{this.start_date_pretty}}</div>
      <div class="publisher">{{this.publisher}}</div>
    </article>
    {{/if}} {{/if}} {{#if this.sound.url}}
    <div class="thumb-container">
      <div class="audio-control play">▶ {{this.sound.size}} kb</div>
      <audio>
        <source src="{{this.sound.url}}">
      </audio>
    </div>
    {{/if}} {{#if this.image.thumb}}
    <div class="thumb-container">
      <img src="{{this.image.thumb}}" data-large="{{this.image.large}}" class="thumbnail lightBox">
    </div>
    {{/if}} {{/if}} {{/each}} {{{space}}}
  </div>

  {{!-- ***** COL4: IMAGES ***** --}}

  <div class="col-md-5ths col-sm-5ths col-xs-12 content-columns">
    <article class="exhibition">
      <div class="title ">Images / Text</div>
    </article>
    {{#each content}} {{#if this.public }} {{#if this.image.large}} {{{space}}}
    <a class="image-link">
    <article class="exhibition light ">
        <div class="title">{{this.title}}</div>
        <div class="title">{{this.image.size}}kb</div>
    </article>
    </a>
      <div class="thumb-container">
        <img src="{{this.image.thumb}}" data-large="{{this.image.large}}" class="thumbnail lightBox">
      </div>
    {{/if}} {{#if this.text.author}} {{{space}}}

    <a href="{{this.text.title}}">
      <article class="exhibition light ">
        <div class="title">{{this.title}}</div>
        <div class="date">{{this.text.author}}</div>
      </article>
    </a>
    {{/if}} {{/if}} {{/each}} {{{space}}}
  </div>


</div>

<script src="./libs/handlebars/handlebars.runtime.min.js"></script>
<script src="http://ec2-52-5-9-41.compute-1.amazonaws.com/socket.io/socket.io.js"></script>
<script src="./libs/jquery/dist/jquery.min.js"></script>
<script src="./libs/letteringjs/jquery.lettering.js"></script>
<script src="./dist/js/handlebars/templates.js"></script>
<script src="./src/js/canellwatkins-front-intro1.js"></script>