<div class="col-md-3">
  <article class="exhibition light ">
    <div class="title ">{{distance}} km from server</div>
  </article>
  {{{space}}}
</div>

<div class="col-md-3">
  <article class="exhibition light">
    <div class="title">Exhibitions</div>
  </article>
  {{#each exhibition}} {{{space}}}
  <article class="exhibition light ">
    <div class="title">{{this.title}}</div>
    <div class="date">{{this.start_date}} — {{this.end_date}}</div>
    <div class="location">{{this.location}}</div>
  </article>
  {{/each}}
</div>

<div class="col-md-3">
  <article class="exhibition light ">
    <div class="title ">Publications</div>
  </article>
  {{#each publication}} {{{space}}}
  <article class="exhibition light ">
    <div class="title">{{this.title}}</div>
    <div class="date">{{this.start_date}}</div>
    <div class="published">{{this.publisher}}</div>
  </article>
  {{/each}}
</div>

<div class="col-md-3">
  <article class="exhibition light ">
    <div class="title ">Texts</div>
  </article>
  {{#each text}} {{{space}}}
  <article class="exhibition light ">
    <div class="title">{{this.title}}</div>
    <div class="date">{{this.start_date}}</div>
    <div class="published">{{this.publisher}}</div>
  </article>
  {{/each}}
</div>