<div class="col-md-3">
  <article class="exhibition light ">
    <div class="title ">{{distance}} km from server</div>
  </article>
  {{{space}}}
</div>


<div class="col-md-3">
  <article class="exhibition light">
    <div class="title">Exhibitions</div>
  </article>
  {{#each container}} {{#if location}} {{{../../space}}}
  <article class="exhibition light ">
    <div class="title">{{this.title}}</div>
    <div class="date">{{this.start_date_pretty}} — {{this.end_date_pretty}}</div>
    <div class="location">{{this.location}}</div>
  </article>
  {{/if}} {{/each}}
</div>

<div class="col-md-3">
  <article class="exhibition light ">
    <div class="title ">Publications</div>
  </article>
  {{#each container}} {{#if publisher}} {{{../../space}}}
  <article class="exhibition light ">
    <div class="title">{{this.title}}</div>
    <div class="date">{{this.start_date_pretty}}</div>
    <div class="publisher">{{this.publisher}}</div>
  </article>
  {{/if}} {{/each}}
</div>

<div class="col-md-3">
  <article class="exhibition light ">
    <div class="title ">Texts</div>
  </article>
  {{#each text}} {{{../../space}}}
  <article class="exhibition light ">
    <div class="title">{{this.title}}</div>
    <div class="date">{{this.start_date}}</div>
    <div class="published">{{this.publisher}}</div>
  </article>
  {{/each}}
</div>