<script id="publication-template" type="text/x-handlebars-template">
  <div class="list-group">
    \{{#each this}} \{{#if publisher}}
    <a href="#" id="\{{_id}}" class="list-group-item">
      <div><strong>\{{title}}</strong></div>
      <div><em>\{{publisher}}</em></div>
      <div>\{{start_date_pretty}}</div>
    </a>
    \{{/if}} \{{/each}}
  </div>
</script>

<script id="exhibition-template" type="text/x-handlebars-template">
  <div class="list-group">
    \{{#each this}} \{{#if location}}
    <a href="#" id="\{{_id}}" class="list-group-item">
      <div><strong>\{{title}}</strong></div>
      <div><em>\{{location}}</em></div>
      <div>\{{start_date_pretty}} – \{{end_date_pretty}}</div>
    </a>
    \{{/if}} \{{/each}}
  </div>
</script>

<script id="content-template" type="text/x-handlebars-template">
  <div class="list-group">
    \{{#each this}}
    <a href="#" id="\{{_id}}" class="list-group-item">
      <h3>\{{title}}</h3> \{{#if image}} <img src="\{{image.url}}">
      <p>\{{image.caption}}</p>
      \{{/if}} \{{#if text}}
      <p>\{{text.body}}</p>
      \{{/if}}
    </a>
    \{{/each}}
  </div>
</script>

<div class="col-md-12 margin_bottom">
<a href="logout" class="btn btn-danger btn-sm pull-right">Logout</a>
</div>

<div class="col-md-6">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#content_list" aria-controls="content_list" role="tab" data-toggle="tab"><i class="fa fa-list"></i> List</a>
      </li>
      <li role="presentation"><a href="#add_image" aria-controls="add_image" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Add image</a>
      </li>
      <li role="presentation"><a href="#add_text" aria-controls="add_text" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Add text</a>
      </li>
      <li role="presentation"><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab"><i class="fa fa-folder"></i> Make collection</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="content_list">
      <div id="content-container"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="add_image">
      <form id="file-drop" action="/api/content/post/image" class="ajaxForm" method="POST" enctype="multipart/form-data">
        <fieldset>
          <legend>Image</legend>

          <!-- Text input-->
          <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" placeholder="Title" class="input-sm form-control" required>
          </div>

          <div class="form-group">
            <input type="file" name="pic" accept="image/*" required>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label for="caption">Caption</label>
            <textarea id="caption" name="caption" type="text" placeholder="Caption" class="input-xl form-control"></textarea>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-primary">
          </div>

        </fieldset>
      </form>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="add_text">
      <form class="ajaxForm" role="form" method="POST" enctype="multipart/form-data" action="/api/content/post/text">
        <fieldset>
          <legend>Text</legend>

          <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" placeholder="Title" class="input-sm form-control" required>
          </div>

          <div class="form-group">
            <label for="author">Author</label>
            <input id="author" name="author" type="text" placeholder="Author" class="input-sm form-control" required>
          </div>

          <div class="form-group">
            <label for="text">Text</label>
            <textarea id="fieldText" name="text" class="input-xl form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="text">Upload file</label>
            <input type="file" name="pic" accept="image/*">
          </div>

          <div class="form-group">
            <label for="link">Link to text</label>
            <input id="link" name="link" type="url" placeholder="Link" class="input-sm form-control">
          </div>

          <div class="form-group">
            <button id="textSubmit" type="submit" class="btn btn-primary">Submit</button>
          </div>

        </fieldset>
      </form>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="collections">collections</div>
  </div>

</div>

<div class="col-md-3">

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#exhibition_list" aria-controls="exhibition_list" role="tab" data-toggle="tab"><i class="fa fa-list"></i> List</a>
      </li>
      <li role="presentation"><a href="#add_exhibition" aria-controls="add_exhibition" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Add exhibition</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="exhibition_list">
      <div id="exhibition-container"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="add_exhibition">
      <form class="ajaxForm" enctype="multipart/form-data" action="/api/exhibition">
        <fieldset>

          <!-- Form Name -->
          <legend>Add exhibition</legend>

          <!-- Text input-->
          <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" placeholder="Title" class="input-xlarge" required>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label for="location">Location</label>
            <input id="location" name="location" type="text" placeholder="Location" class="input-xlarge" required>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label for="link">Link</label>
            <input id="link" name="link" type="url" placeholder="Link" class="input-xlarge">
          </div>

          <label for="datepicker">Start and end date</label>
          <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" name="start_date" required>
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="end_date" required>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label for=""></label>
            <button id="" name="" class="btn btn-primary">Submit</button>
          </div>

        </fieldset>
      </form>
    </div>
  </div>

</div>

<div class="col-md-3">

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#publication_list" aria-controls="publication_list" role="tab" data-toggle="tab"><i class="fa fa-list"></i> List</a>
      </li>
      <li role="presentation"><a href="#add_publication" aria-controls="add_publication" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Add publication</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="publication_list">
      <div id="publication-container"></div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="add_publication">
      <form class="ajaxForm" enctype="multipart/form-data" action="/api/publication">
        <fieldset>

          <!-- Form Name -->
          <legend>Add publication</legend>

          <!-- Text input-->
          <div class="form-group">
            <label for="title">Title</label>
            <div>
              <input id="title" name="title" type="text" placeholder="Title" class="input-xlarge" required>

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label for="publisher">Publisher</label>
            <div>
              <input id="publisher" name="publisher" type="text" placeholder="Publisher" class="input-xlarge">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label for="link">Link</label>
            <div>
              <input id="link" name="link" type="url" placeholder="Link" class="input-xlarge">
            </div>
          </div>

          <label for="input-group">Publication date</label>
          <div class="input-group date">
            <input type="text" name="start_date" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label for=""></label>
            <div>
              <button id="" name="" class="btn btn-primary">Submit</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>