<div class="container">

  {{#if body}}
  <h1>{{body}}</h1>
  {{else}}
  <img src="{{url}}" class="img-main"></img>
  {{/if}}

  <div id="singleInfo">
    <a class="btn btn-default btn-sm" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">info</a>
    <div class="collapse" id="collapseExample">
      <div class="well">
        <p><code>ID</code> {{id}}</p>
        <p><code>user</code> {{user}}</p>
        <p><code>date</code> {{date}}</p>
        <p><code>longitude</code> {{longitude}}</p>
        <p><code>latitude</code> {{latitude}}</p>
        <p><code>geohash</code> {{geohash}}</p>
        <p><code>v</code> {{v}}</p>
        <p><code>themes</code> {{tags}}</p>
        {{#if body}}
        <div class="delete text btn btn-danger" id="{{id}}">Delete text</div>
        {{else}}
        <div class="delete image btn btn-danger" id="{{id}}">Delete image</div>
        {{/if}}

      </div>
    </div>
  </div>

</div>

{{#each close}} 
{{#if body}}
<div class="draggableTopLayer textTopLayer topLayer-{{@index}}">
  <a href="/{{this.id}}">{{body}}</a>
</div> {{else}}
<div class="draggableTopLayer imageTopLayer img-rounded topLayer-{{@index}}">
  <a href="/{{this.id}}"><img src="{{this.large}}" alt="{{this.id}}">
  </a>
</div> {{/if}} {{/each}}


</div>