<div class="list-group">
  {{each this}} {{if publisher}}
  <a href="#" id="\{{_id}}" class="list-group-item" data-toggle="collapse-next">
    <div><strong>\{{title}}</strong>
    </div>
    <div><em>\{{publisher}}</em>
    </div>
    <div>\{{start_date_pretty}}</div>
  </a>
  <div class="collapse editContainer">
    <form class="ajaxFormUpdate" enctype="multipart/form-data" action="/api/update/publication" data-post-id="\{{_id}}">
      <fieldset>

        <div class="form-group">
          <label for="title">Title</label>
          <div>
            <input id="title" name="title" type="text" placeholder="Title" class="input-sm form-control" value="\{{title}}" required>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label for="publisher">Publisher</label>
          <div>
            <input id="publisher" name="publisher" type="text" placeholder="Publisher" class="input-sm form-control" value="\{{publisher}}">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label for="link">Link</label>
          <div>
            <input id="link" name="link" type="url" placeholder="Link" class="input-sm form-control" value="\{{link}}">
          </div>
        </div>

        <label for="input-group">Publication date</label>
        <div class="input-group date datepicker_recurring_start">
          <input type="text" class="input-sm form-control" name="start_date" value="\{{start_date_pretty}}" required>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label for=""></label>
          <div>
            <button id="" name="" class="btn btn-primary">Update</button>
            <div class="btn btn-danger delete cont" data-id="\{{_id}}">Delete</div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
  \{{/if}} \{{/each}}
</div>