{{#if ip}}
<div id="org">
    {{#if city}} {{city}}, {{/if}} {{#if country}} {{country}} {{/if}}.
<br>
    {{#if orgname}} {{orgname}} {{else}} {{#if orgid}} {{orgid}} {{else}} {{#if netname}} {{netname}} {{/if}} {{/if}} {{/if}}

</div>
{{/if}}

{{#if total}}
<div id="org">Cable length: {{ total}} km</div>
{{/if}}