{{#if ip}}
<article class='ping_container'>
  <div>⟢ {{ip}}</div>
  {{#if orgname}}
  <div>{{orgname}}</div>
  {{else}} {{#if orgid}}
  <div>{{orgid}}</div>
  {{else}} {{#if netname}}
  <div>{{netname}}</div>
  {{/if}} {{/if}} {{/if}}
  <div>
    {{#if city}} {{city}}, {{/if}} {{#if country}} {{country}} {{/if}}
  </div>
  <a href='http://geohash.org/{{geohash}}' target=_blank class="geohash">
    {{geohash}}
  </a>
</article>
<div class='space'>*</div>
{{#if cables}}
{{#each cables}}
{{#if this.url}}<a href="{{this.url}}" target="_blank">{{/if}}
<div class="cableContainer space cable">∿ {{this.name}}<br>[{{this.owners}}]</div>
{{#if this.url}}</a>{{/if}}
{{/each}} {{/if}} {{/if}}